/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
	 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
	 ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
	 dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
	 tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
	 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
	 time, mark, audio, video {
		 margin: 0;
		 padding: 0;
		 border: 0;
		 font-size: 100%;
		 font: inherit;
		 vertical-align: baseline;
	 }
	 
	 /* HTML5 display-role reset for older browsers */
	 article, aside, details, figcaption, figure,
	 footer, header, hgroup, menu, nav, section {
		 display: block;
	 }
	 
	 /* Force scrollbar */
	 html {
		 overflow-y: scroll;
	 }
	 
	 /* Align radios and text inputs with their label */
	 input[type=radio] {
		 vertical-align: text-bottom;
	 }
	 
	 /* Hand cursor on clickable input elements */
	 label,
	 input[type=button],
	 input[type=submit],
	 button {
		 cursor: pointer;
	 }
	 
	 strong {
		 font-weight: bold;
		 font-family: inherit;
		 font-size: inherit;
	 }
	 
	 em {
		 font-style: italic;
	 }
	 
	 img {
		 width: 100%;
		 border: 0;
		 vertical-align: middle;
	 }
	 
	 sub,
	 sup {
		 vertical-align: baseline;
		 position: relative;
		 font-size: 55%;
		 line-height: 0;
	 }
	 
	 sup {
		 top: -0.7em;
	 }
	 
	 sub {
		 bottom: -0.25em;
	 }
	 
	 /* 1.2. Clear Fix
			========================== */
	 .cf:before,
	 .cf:after {
		 display: table;
		 content: " ";
	 }
	 
	 .cf:after {
		 clear: both;
	 }
	 
	 .cf {
		 zoom: 1;
	 }
	 
	 /* for all */
	 body {
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box;
		 font-family: "Mulish", sans-serif;
	 }
	 
	 a {
		 display: inline-block;
		 text-decoration: none;
	 }
	 
	 li {
		 display: inline-block;
		 list-style-type: none;
	 }
	 
	 /* for wrapper */
	 .wrapper {
		 max-width: 1360px;
		 width: 78.1%;
		 margin: 0 auto;
	 }
	 
	 * {
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box;
		 padding: 0;
		 margin: 0;
	 }

	 
	 /* Styling Attributes for Navbar in Header */
	 header{
		display: flex;
	 }

	 header a{
		color: Black;
	 }

	 h1{
		font-family: "Crimson Pro", serif;
		font-size: 4em;
		font-weight: 700;
	 }

	 h2{
		font-family: "Source Serif 4", serif;
		font-size: 2.8em;
		font-weight: 600;
		line-height: 0.93em;
	 }

	 .navbar ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
	 }

	 .navbar-list li:last-child{
		flex-basis: 35%;
		width: 20%;
		text-align: left;
		font-size: 0.9em;
	 }
	 /* Styling Attributes for section banner */
	 .banner{
		background-image: url("/template/assets/images/banner/banner.jpg");
		background-position:bottom;
		opacity: 80%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 180px 0 180px;
		color: aliceblue;
	 }

	 .banner .wrapper{
		padding-right: 50%;
	 }

	 .banner h2{
		font-size: 3.5em;
		color: rgb(0, 0, 0);
	 }

	 .banner a{
		flex-basis: 40%;
		width: 63.5%;
		padding: 15px 1em;
		border-radius: 5px;
		margin: 20px 0;
		color: white;
		background-color: black;
		display: block;
		text-align: center;
	 }

	 .navbar .build-button{
		width: 60%;
		margin-left: 35%;
	 }

	 .build-button{
		max-width: 60%;
		width: 60%;
		padding: 15px 1em;
		border-radius: 5px;
		margin: 20px 0;
		color: white;
		background-color: black;
		display: block;
		text-align: center;
	 }

	 /* Styling Attributes for benefits section */
	 .benefits{
		padding: 60px 0 45px;
		background-color: aliceblue;
	 }

	 .benefits h2{
		font-size: 3.05em;
		text-align: center;
		margin-bottom: 45px;
	 }

	.benefits h6{
		font-family: "Mulish", sans-serif;
		font-size: 1.4em;
		text-align: center;
		padding: 12px 10px 20px;
		font-weight: 700;
		line-height: 1.3em;
	}

	 .benefits ul{
		display: flex;
		margin: 0 25px;
	 }

	 .benefits li {
		margin: 0 20px;
	 }

	 .benefits p{
		text-align: center;
		font-size: 1.18em;
		line-height: 1.3em;
	}

	.benefits-img{
		width: 6.5em;
		padding: 5px;
		border-radius: 50px;
		margin-left: 25%;		
		background-color: antiquewhite;
	}

	/* Styling Attributes for Featured-in */
		.featured-in {
			padding: 15px 0 35px;
			text-align: center;
			margin-bottom: -12px;
			background-color: rgb(67, 176, 193);
		}
	
		.featured-in ul {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
	
		.featured-in li {
			width: 10%;
		}
	
		.featured-in h5 {
			font-family: "Mulish", sans-serif;
			font-size: 1.4em;
			text-align: center;
			padding: 10px 10px 10px;
			font-weight: 700;
			line-height: 1.3em;
		}
	/* Styling Attributes for Coparison */
	.comparison{
		background-color: aliceblue;
		text-align: center;
		padding: 53px 10% 60px;
	}
	.comparison h2{
		font-size: 3em;
		text-align: center;
		margin-bottom: 28px;
	}
	
	.comparison-table tr td:first-child{
		text-align: left;
	}

	.comparison table{
		justify-content: center;
		max-width: 100%;
		width: 100%;
		padding: 0 5%;
	}

	.comparison-table {
		border-collapse: collapse;
		width: 70%;
		padding: 0 5%;
	}
		
	.comparison-table th, td {
		padding: 8px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		line-height: 1.6em;
	}
	.comparison p{
		padding: 0% 13%;
		margin-bottom: 45px;
		font-size: 1.1em;
	}

	/* Styling Attributes for Testimonial section */
	.testimonials{
		padding: 43px 0 53px;
		background-color: white;
	}

	.testimonials h2{
		font-size: 3em;
		text-align: center;
		margin-bottom: 22px;
	}

	.testimonials p{
		text-align: center;
		padding: 0 25%;
		font-size: 1.2em;
		line-height: 1.3em;
	}


	.testimonials li p{
		padding: 0;
		padding-top: 0;
		font-size: 1.1em;
		margin-bottom: 10px;
	}

	.testimonials li{
		text-align: center;
		max-width: 50%;
		width: 32%;
		padding: 10px 1%;
		flex-wrap: wrap;
	}

	.testimonials a{
		width: 25%;
		padding: 10px 3em;
		border-radius: 5px;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		color: black;
		background-color: white;
		text-align: center;
		margin: 15px 37% 0;
	}


	.testimonials i{
		display: block;
		margin: 35px 0 10px;
	}

	.testimonials h6{
		margin: 17px 0 7px;
		font-size: 1.1em;
		font-weight: 800;
	}

	.testimonials span{
		font-size: 1.1em;
	}

	.testimonials-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	/* Styling Attributes for meet-expert */
	.meet-expert{
		padding: 85px 0;
		background-image: url("/template/assets/images/banner/banner.jpg");
		background-position: bottom;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		color: rgb(0, 0, 0);
	}

	.meet-expert h2{
		font-size: 3em;
		line-height: 1.1em;
		text-align: left;
		margin-bottom: 20px;
	}

	.meet-expert p{
		font-size: 1.2em;
	}
	.meet-expert .wrapper{
		width: 35%;
		margin-left:52%;
		text-align: left;
	}

	.meet-expert a {
		padding: 15px 3em;
		border-radius: 5px;
		margin: 23px 0 20px;
		color: white;
		background-color: black;
	}


	/* Styling Attributes for trusted-by */
	.trusted-by{
		padding: 20px 0 8px;
		text-align: center;
		margin-bottom: -12px;
		background-color: rgb(67, 176, 193);
	}

	.trusted-by ul{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.trusted-by li{
		width: 10%;
	}

	.trusted-by h5{
		font-family: "Mulish", sans-serif;
		font-size: 1.4em;
		text-align: center;
		padding: 12px 10px 0;
		font-weight: 700;
		line-height: 1.3em;
	}

	/* Styling Attributes for FAQ */

	.faq .wrapper{
		width: 70%;
	}
	.faq{
		padding: 47px 0 42px;
		text-align: left;
		background-color: aliceblue;
	}

	.faq h2{
		font-size: 2.9em;
		text-align: center;
		margin-bottom: 40px;
	}

	.faq-table th{
		font-family: "Source Serif 4", serif;
				max-width: 40%;
		width: 15%;
		font-size: 1.2em;
		font-weight: 700;
	}

	.faq table td,
	tr {
		border-bottom: none;
		font-size: 1em;
		text-align: left;
	}

	.faq td{
		width: 40%;
		padding-left: 11%;
	}

	.faq-table{
		border-spacing: 0 10px;
		margin-bottom: 20px;
	}

	.faq .build-button{
		width: 25%;
		padding: 10px 3em;
		border-radius: 5px;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		margin: 20px 36%;
		color: black;
		background-color: white;
		text-align: center;
	}
	/* Styling Attributes for end-question */
	.end-question .wrapper{
		width: 70%;
		padding: 150px 0 54px;
		display: flex;
		justify-content: space-between;
	}

	.end-question img{
		width: 100%;
	}
	.end-question h2{
		font-size: 3.3em;
		text-align: center;
	}

	.end-question-right{
		flex-basis: 65%;
		text-align: center;
	}

	.end-question figure{
		width: 20%;
	}

	.end-question a{
		padding: 13px 12%;
		margin: 25px 0 0 7%;
	}
	/* Styling Attributes for icons */
	.yes::before{
		font-family: "Font Awesome 5 Free";
		font-weight: 400;
		content: "\f058";
	}

	.five-stars::before{
		font-family: "Font Awesome 5 Free";
		font-weight: 400;
		font-size: 1.6em;
		content: "\f005\f005\f005\f005\f005";

	}
